<div id="mySidenav" class="sidenav" style="top: 50px;">
    <a href="javascript:void(0)" class="closebtn" id="toggleButtonClose">&times;</a>
    <a href="/home">Dashboard</a>
    <a href="/profile">Profile</a>
    <a href="/products">Products</a>
    <a href="/services">Services</a>
    <a href="/clients">Clients</a>
    <a href="/connections">Connections</a>
    <a href="/fertilizers">Fertilizers</a>
    <a href="/crops">Crops</a>
    <a href="/market">Mandi & Market</a>
    <a href="/machines">Machines & Equipments</a>
    <a href="/land">Land in Your Area</a>
    <a href="/bank-loan">Bank Loan</a>
    <a href="/govt-schemes">Govt. Schemes</a>
    <a href="/customare-care">Customer Care</a>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>