<div id="mySidenav" class="sidenav" style="top: 50px;">
    <a href="javascript:void(0)" class="closebtn" id="toggleButtonClose">&times;</a>
    <a href="/home">Dashboard</a>
    <a href="/user/profile">Profile</a>
    <a href="#">Add Products</a>
    <a href="#">See All Products</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Connections</a>
    <a href="#">See Fertilizers</a>
    <a href="#">See Crops</a>
    <a href="#">Mandi & Market</a>
    <a href="#">Market Demand</a>
    <a href="#">See Weather</a>
    <a href="#">Machines & Equipments</a>
    <a href="#">Machines on Rent</a>
    <a href="#">Buy Land</a>
    <a href="#">Sell Land</a>
    <a href="#">See About Loan</a>
    <a href="#">Raise Complain</a>
    <a href="#">Govt. Schemes</a>
    <a href="#">Customer Care</a>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<!-- <span style="font-size:30px;cursor:pointer;" id="toggleButtonOpen">&#9776;</span> -->