<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <link rel="stylesheet" href="stylesheets/clients.css">
        <script src="javascripts/users.js"></script>
</head>

<body class="container">
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
        <%- include('layout/sidenav.ejs')%>

            <div class="row">
                <div class="col-md-4">
                    <div class="container d-flex justify-content-center mt-1">
                        <div class="card">
                            <div class="top-container"> <img src="../images/avatarLogin1.jpg"
                                    class="img-fluid profile-image" width="70">
                                <div class="ml-3">
                                    <h5 class="name">Princy Goel</h5>
                                    <p class="mail">clark@zmail.com</p>
                                </div>
                            </div>
                            <div class="recent-border mt-4"> <span class="recent-orders">Location: Pilibht</span> </div>
                            <div class="wishlist-border pt-2"> <span class="wishlist">Wishlist</span> </div>
                            <div class="fashion-studio-border pt-2"> <span class="fashion-studio">State: </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container d-flex justify-content-center mt-1">
                        <div class="card">
                            <div class="top-container"> <img src="../images/avatarLogin1.jpg"
                                    class="img-fluid profile-image" width="70">
                                <div class="ml-3">
                                    <h5 class="name">Ricky Dheeraj Sharma</h5>
                                    <p class="mail">clark@zmail.com</p>
                                </div>
                            </div>
                            <div class="recent-border mt-4"> <span class="recent-orders">Location: Bareilly</span> </div>
                            <div class="wishlist-border pt-2"> <span class="wishlist">Wishlist</span> </div>
                            <div class="fashion-studio-border pt-2"> <span class="fashion-studio">Fashion studio</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container d-flex justify-content-center mt-1">
                        <div class="card">
                            <div class="top-container"> <img src="../images/avatarLogin1.jpg"
                                    class="img-fluid profile-image" width="70">
                                <div class="ml-3">
                                    <h5 class="name">Prem Sharma</h5>
                                    <p class="mail">clark@zmail.com</p>
                                </div>
                            </div>
                            <div class="recent-border mt-4"> <span class="recent-orders">Location: Lucknow</span> </div>
                            <div class="wishlist-border pt-2"> <span class="wishlist">Wishlist</span> </div>
                            <div class="fashion-studio-border pt-2"> <span class="fashion-studio">Fashion studio</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </main>
    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>