<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="javascripts/users.js"></script>
</head>

<body class="container">
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
        <%- include('layout/sidenav.ejs')%>

        <h1>Fertilizers Page</h1>
    </main>
    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>