<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="">
</head>

<body class="container" style="">

    <header>
        <%- include('layout/header.ejs')%>
    </header>

    <main>
        <h1>Welcome to Home</h1>
    </main>

    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>