<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="javascripts/users.js"></script>
</head>

<body class="container">
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
        <%- include('layout/sidenav.ejs')%>

        <span style="font-size:30px;cursor:pointer;" id="toggleButtonOpen">&#9776;</span>


        <div class="container-fluid">
            <div class="tile job resource">
                <div class="header">
                    <div class="count">1</div>
                    <div class="title">Jobs</div>
                </div>
                <div class="body">
                    <div class="title">New Products</div>
                </div>
            </div>
            <div class="tile job">
                <div class="header">
                    <div class="count">4</div>
                    <div class="title">Crops</div>
                </div>
                <div class="body">
                    <div class="title">Availability True</div>
                </div>
            </div>
            <div class="tile wide resource">
                <div class="header">
                    <div class="left">
                        <div class="count">2</div>
                        <div class="title">Resources</div>
                    </div>
                    <div class="right">
                        <div class="count">34</div>
                        <div class="title">Market Demand</div>
                    </div>
                </div>
                <div class="body">
                    <div class="title">Mandi Activs are UP State</div>
                </div>
            </div>
            <div class="tile wide quote">
                <div class="header">
                    <div class="left">
                        <div class="count">5</div>
                        <div class="title">Ton</div>
                    </div>
                    <div class="right">
                        <div class="count">2000</div>
                        <div class="title">Buy Now</div>
                    </div>
                </div>
                <div class="body">
                    <div class="title">Available in Bareilly</div>
                </div>
            </div>
            <div class="tile job resource">
                <div class="header">
                    <div class="count">100</div>
                    <div class="title">Demo</div>
                </div>
                <div class="body">
                    <div class="title">New Products Info</div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>