<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/login.css">
        <script src="javascripts/users.js"></script>
</head>

<body class="container">

    <header>
        <%- include('layout/header.ejs')%>
    </header>

    <main>
        <div class="card card-container" style="opacity: 0.9;">


            <img id="profile-img" class="profile-img-card" src="../images/avatarLogin1.jpg" />
            <p id="profile-name" class="profile-name-card"></p>
            <% if(error !='' ) {%>
                <div class="alert alert-danger" role="alert" id="showSucessAlert">
                    <strong>
                        <%= error %>
                    </strong>
                </div>
                <%}%>
                    <form class="form-signin" method="POST" action="/login">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email"
                            required autofocus>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                            placeholder="Password" required>

                        <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Login</button>
                    </form>
                    <a href="#" class="forgot-password">
                        Forgot password?
                    </a>
                    <a href="/register" class="forgot-password">
                        Click Here to Register
                    </a>
        </div>
    </main>

    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>