<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="javascripts/users.js"></script>
</head>

<body class="container">
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
        <%- include('layout/sidenav.ejs')%>

            <div class="container-fluid">
                <div class="tile job">
                    <div class="header">
                        <div class="count">1</div>
                        <div class="title">Free Service</div>
                    </div>
                    <div class="body">
                        <div class="title">Distric Level</div>
                    </div>
                </div>
                <div class="tile job">
                    <div class="header">
                        <div class="count">0</div>
                        <div class="title">Paid Service</div>
                    </div>
                    <div class="body">
                        <div class="title">State Level</div>
                    </div>
                </div>
                <div class="tile job resource">
                    <div class="header">
                        <div class="count">0</div>
                        <div class="title">Premium Service</div>
                    </div>
                    <div class="body">
                        <div class="title">Across India Level</div>
                    </div>
                </div>
                <div class="tile wide quote">
                    <div class="header">
                        <div class="left">
                            <div class="count">5</div>
                            <div class="title">Ton</div>
                        </div>
                        <div class="right">
                            <div class="count">2000</div>
                            <div class="title">Buy Now</div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="title">Available in Bareilly</div>
                    </div>
                </div> 
            </div>
    </main>
    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>